<div id="questionSection" class="mt-4" style="display: none;">
    <h3>Generated Question:</h3>
    <div id="generatedQuestion" class="mb-3"></div>
    
    <%- include('specific-question') %>
    <%- include('guidance-section') %>
    <%- include('sample-answer-section') %>
</div>

<input type="hidden" id="hiddenJDText" value="">
<input type="hidden" id="hiddenQuestions" value="">