<div class="mb-3">
    <button type="button" id="generateAnswer" class="btn btn-success">
        <i class="bi bi-robot"></i> Generate Sample Answer
    </button>
    <span id="answerGenSpinner" class="spinner-border spinner-border-sm ms-2" style="display: none;" role="status"></span>
</div>

<div id="sampleAnswerSection" class="mt-3 mb-4" style="display: none;">
    <h4>Sample Answers:</h4>
    <div class="accordion accordion-flush" id="answersAccordion">
        <!-- Questions and answers will be dynamically added here -->
    </div>
</div>